include *.py
include *.txt
include *.rst
include buildout.cfg
include setup.cfg
include .coveragerc
include tox.ini
recursive-include src *.pt
recursive-include src *.rst
recursive-include src *.zcml
recursive-include src *.css
recursive-include src *.gif
recursive-include src *.js
recursive-include src *.png
recursive-include src *.xml
